.App {
    text-align: center;
  }
  
  .Menu {
    height: 50px;
    position: relative;
    padding-bottom: 10px;
  }
  
  ul { 
    list-style-type: none; /*******Removes list bullets********/
  }
  
  #left-menu li {
    float: left;
    margin: auto;
  }
  #right-menu li {
    float: right;
  }
  
  #right-menu {
  padding-right: 140px;
  }
  
  li {
    text-decoration: none;
    padding: 16px 16px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-button {
    text-decoration: none;
    background-color: #ff7b00;
    padding: 10px 14px;
    color: white;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  div.Section1{
    color: red;
  }

  .signupForm{
    text-align: center;
  }

  .inputField {
    margin: 10px;
    width: 282px;
    height: 44px;
    border: 1px;
    padding: 0px, 16px;
    border: 1px solid gray;
    border-radius: 4px;
  }

  div #submit {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
  }

  p.message {
    color: red;
    display: none;
  }


  p#error-message {
    color: firebrick;
    display: none;
    font-size: 80%;
    font-weight: bold;
    word-wrap: normal;
    width: 282px;
    height: 75px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(233, 130, 130);
    background-color: rgb(238, 194, 194);
    border-radius: 5px;
  }

  div .form-footer{
    font-size: 82%;
    margin: 10px;
    width: 282px;
    height: 44px;
    border: 1px;
    padding: 0px, 16px;
    position: relative;
    text-align: center;
  }

  #logout {
    float: right;
  }